@import "tailwindcss";

:root {
  --background-primary: #ffffff;
  --background-secondary: #F9FAFB;
  --text-primary: #191F28;
  --text-secondary: #98A0AA;
  --brand-color:#A4BDFC;
}

@theme inline {
  --color-background-primary: var(--background-primary);
  --color-background-secondary: var(--background-secondary);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-brand: var(--brand-color);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background-primary);
  color: var(--foreground-secondary );
  font-family: Arial, Helvetica, sans-serif;
}
